<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Averia Gruesa Libre' rel='stylesheet'>
<meta name="viewport" content="width=device-width">

<div class = "container">

    <div class="photoContainer">
      <img src="{{news.news_photo}}" alt="Avatar" class="image">
    </div>
    <div class="insideDiv">
      <h3 class="Acme20">{{news.date}} / in <a href="#" class="hrefStyle">News</a></h3>
      <h1 class="Acme20">Rating
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span></h1>
      <h1 class="Acme36Black">{{news.news_name}}</h1>
      <p class="Averia16Black">{{news.description}}</p>
    </div>
</div>
